server:
  port: 8888

spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials VARY, RETAIN_UNIQUE
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/login/**,/api/users/**
        - id: board-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/boards/**
        - id: reply-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/replies/**
        - id: refresh-token-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/refresh-tokens/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:3000
            allowCredentials: true
            allowedHeaders: "*"
            allowedMethods:
              - POST
              - GET
              - PUT
              - OPTIONS
              - PATCH
              - DELETE
        add-to-simple-url-handler-mapping: true
management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - gateway
          - info
    gateway:
      enabled: true
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: info
